{% extends 'base.html' %}
{% load static %}
{% block content %}

        <main>
            <section class="section">
                <div class="section__con">
                    <h1 class="section__h1">О нас</h1>
                    <img class="section__img" src="{% static '/images/icons/line.svg' %}" alt="">
                </div>
                <p class="section__p">Касательно качества, эффективности и долговечности, Solar Nature является ведущим
                    поставщиком солнечных фотоэлектрических систем в Узбекистане. Компания была основана в 2014 году как
                    дистрибьютор солнечных фотоэлектрических модулей и инверторов. В 2016 году компания расширила свой
                    бизнес, предлагая инженерно-строительные услуги в секторе возобновляемых источников энергии в
                    стране.</p>
                <div class="section__con1">
                    <img class="section__con1__img" src="{% static '/images/background/section/section.png' %}" alt="">
                </div>
                <div class="section__con2">
                    <img class="section__con2__1" width="545px" height="667px"
                         src="{% static '/images/background/section/Group89.svg' %}" alt="">
                    <img class="section__con2__2" src="{% static '/images/background/section/Group89(1).svg' %}" alt="">
                    <ul class="section__con2__list">
                        <li class="section__con2__item">
                            <img class="section__con2__img" src="{% static '/images/background/section/1.svg' %}" alt="">
                            <img class="section__con2__img1" src="{% static '/images/background/section/1.1.svg' %}" alt="">
                        </li>
                        <li class="section__con2__item1">
                            <img class="section__con2__img" src="{% static '/images/background/section/2.svg' %}" alt="">
                            <img class="section__con2__img1" src="{% static '/images/background/section/2.2.svg' %}" alt="">
                        </li>
                        <li class="section__con2__item2">
                            <img class="section__con2__img" src="{% static '/images/background/section/3.svg' %}" alt="">
                            <img class="section__con2__img1" src="{% static '/images/background/section/3.3.svg' %}" alt="">
                        </li>
                        <li class="section__con2__item3">
                            <img class="section__con2__img" src="{% static '/images/background/section/4.svg' %}" alt="">
                            <img class="section__con2__img1" src="{% static '/images/background/section/4.4.svg' %}" alt="">
                        </li>
                    </ul>
                </div>
                <div class="section__con3">
                    <p class="section__con3__p">Касательно качества, эффективности и долговечности, Solar Nature
                        является ведущим поставщиком солнечных фотоэлектрических систем в Узбекистане. Компания была
                        основана в 2014 году как дистрибьютор солнечных фотоэлектрических модулей и инверторов. В 2016
                        году компания расширила свой бизнес, предлагая инженерно-строительные услуги в секторе
                        возобновляемых источников энергии в стране.</p>
                    <p class="section__con3__p1">Касательно качества, эффективности и долговечности, Solar Nature
                        является ведущим поставщиком солнечных фотоэлектрических систем в Узбекистане. Компания была
                        основана в 2014 году как дистрибьютор солнечных фотоэлектрических модулей и инверторов. В 2016
                        году компания расширила свой бизнес, предлагая инженерно-строительные услуги в секторе
                        возобновляемых источников энергии в стране.</p>
                    <button class="section__con3__btn">Подробнее<img src="{% static '/images/icons/Vector.svg' %}"
                            style="position: absolute; top: 20px; right: 33px;" alt=""></button>
                </div>
            </section>

            <section class="section1">
                <h1 class="section1__h1">Как мы работаем?</h1>
                <img class="section1__img" src="{% static '/images/background/section1/line.svg' %}" alt="">
                <ul class="section1__list">
                    <li class="section1__item">
                        <h1 class="section1__item__h1">1</h1>
                        <img class="section1__item__img" src="{% static '/images/background/section1/Line1.svg' %}" alt="">
                        <img class="section1__item__img1" src="{% static '/images/background/section1/Line 17.svg' %}" alt="">
                        <div class="section1__item__div">
                            <h2 class="section1__item__h2">Рассчитайте площадь</h2>
                            <h3 class="section1__item__h3">Заполните форму обратной связи, чтобы наши специалисты могли
                                с вами связаться</h3>
                        </div>
                    </li>
                    <li class="section1__item">
                        <h1 class="section1__item__h11">2</h1>
                        <img class="section1__item__img" src="{% static '/images/background/section1/Line1.svg' %}" alt="">
                        <img class="section1__item__img1" src="{% static '/images/background/section1/Line 17.svg' %}" alt="">
                        <div class="section1__item__div">
                            <h2 class="section1__item__h2">Выберите продукцию</h2>
                            <h3 class="section1__item__h3">Заполните форму обратной связи, чтобы наши специалисты могли
                                с вами связаться</h3>
                        </div>
                    </li>
                    <li class="section1__item">
                        <h1 class="section1__item__h12">3</h1>
                        <img class="section1__item__img" src="{% static '/images/background/section1/Line1.svg' %}" alt="">
                        <img class="section1__item__img1" src="{% static '/images/background/section1/Line 17.svg' %}" alt="">
                        <div class="section1__item__div">
                            <h2 class="section1__item__h2">Введите свои данные</h2>
                            <h3 class="section1__item__h3">Заполните форму обратной связи, чтобы наши специалисты могли
                                с вами связаться</h3>
                        </div>
                    </li>
                    <li class="section1__item">
                        <h1 class="section1__item__h13">4</h1>
                        <img class="section1__item__img" src="{% static '/images/background/section1/Line1.svg' %}" alt="">
                        <img class="section1__item__img1" src="{% static '/images/background/section1/Line 17.svg' %}" alt="">
                        <div class="section1__item__div">
                            <h2 class="section1__item__h2">Отправьте свою заявку</h2>
                            <h3 class="section1__item__h3">Заполните форму обратной связи, чтобы наши специалисты могли
                                с вами связаться</h3>
                        </div>
                    </li>
                </ul>
                <img class="section1__img1" src="{% static '/images/background/section1/Group 2993.png' %}" alt="">
            </section>
            <section class="section4">
                <h1 class="section4__h1">Наши сертификаты</h1>
                <img class="section4__img" src="{% static '/images/icons/line.svg' %}" alt="">
                <p class="section4__p">Касательно качества, эффективности и долговечности, Solar Nature является ведущим
                    поставщиком солнечных фотоэлектрических систем в Узбекистане. Компания была основана в 2014 году как
                    дистрибьютор солнечных фотоэлектрических модулей и инверторов. В 2016 году компания расширила свой
                    бизнес, предлагая инженерно-строительные услуги в секторе возобновляемых источников энергии в
                    стране.</p>
                <div class="section4__con">
                    <img class="section4__con__img" src="{% static '/images/background/Group 8 (1).png' %}" alt="">
                </div>
            </section>

            <section></section>
        </main>

{% endblock %}
