{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <section class="section7">
                <div class="section7__con">
                    <h1 class="section7__heading">Наши работы</h1>
                    <img class="section7__line" src="{% static '/images/icons/line.svg' %}" alt="">
                </div>
                <ul class="section7__list">
                    <li class="section7__item">
                        <img class="section7__img" src="{% static '/images/background/section6/solar-panels-roof-solar-cell 1.png' %}"
                            alt="">
                        <div class="section7__con1">
                            <h1 class="section7__h1">Солнечная электростанция 15 кВт</h1>
                            <ul class="section7__list1">
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/location1.svg' %}" alt="">
                                    <p class="section7__item1__p">Адрес: г. Ташкент. Мирзо-Улугбекский район</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/payment.svg' %}" alt="">
                                    <p class="section7__item1__p">Окупаемость: 4 года</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/energy.svg' %}" alt="">
                                    <p class="section7__item1__p">Подняли мощность за 30 дней</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="section7__item">
                        <img class="section7__img" src="{% static '/images/background/section6/unsplash_513dBrMJ_5w.png' %}" alt="">
                        <div class="section7__con1">
                            <h1 class="section7__h1">Солнечная электростанция 30 кВт</h1>
                            <ul class="section7__list1">
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/location1.svg' %}" alt="">
                                    <p class="section7__item1__p">Адрес: г. Ташкент. Мирзо-Улугбекский район</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static "/images/icons/payment.svg" %}" alt="">
                                    <p class="section7__item1__p">Окупаемость: 4 года</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/energy.svg' %}" alt="">
                                    <p class="section7__item1__p">Подняли мощность за 30 дней</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="section7__item">
                        <img class="section7__img" src="{% static '/images/background/section6/pexels-pixabay-236060 3.png' %}" alt="">
                        <div class="section7__con1">
                            <h1 class="section7__h1">Солнечная электростанция 120 кВт</h1>
                            <ul class="section7__list1">
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/location1.svg' %}" alt="">
                                    <p class="section7__item1__p">Адрес: г. Ташкент. Мирзо-Улугбекский район</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/payment.svg' %}" alt="">
                                    <p class="section7__item1__p">Окупаемость: 4 года</p>
                                </li>
                                <li class="section7__item1">
                                    <img class="section7__item1__img" src="{% static '/images/icons/energy.svg' %}" alt="">
                                    <p class="section7__item1__p">Подняли мощность за 30 дней</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </section>
        </main>

{% endblock %}
