{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <section class="section10">
                <div class="section10__con">
                    <h1 class="section10__h1">Сервисный центр</h1>
                    <img class="section10__line" src="{% static '/images/icons/line.svg' %}" alt="">
                </div>
                <ul class="section10__list">
                    <li class="section10__item">
                        <div class="section10__item__con">
                            <div class="section10__1">
                                <h1 class="section10__item__h1">1</h1>
                            </div>
                            <p class="section10__item__p">Двухсторонняя солнечная панель мощностью 535-550 Вт с КПД 21%
                            </p>
                            <p class="section10__item__p">Панель второго поколения класса А</p>
                            <p class="section10__item__p">основанный на пластине M10, это лучшее решение для
                                сверхбольших электростанций передовая модульная технология обеспечивает превосходную
                                эффективность модуля глобально подтвержденный двусторонний выход энергии высокое
                                качество модуля обеспечивает долгосрочную</p>
                            <p class="section10__item__p">Двойное терм-упрочненное стекло 2,0+2,0 мм</p>
                        </div>
                        <img class="section10__img" src="{% static '/images/background/section10/pexels-pixabay-236060 2.png' %}"
                            alt="">
                    </li>
                    <li class="section10__item">
                        <div class="section10__item__con">
                            <div class="section10__1">
                                <h1 class="section10__item__h1">2</h1>
                            </div>
                            <p class="section10__item__p">Двухсторонняя солнечная панель мощностью 535-550 Вт с КПД 21%
                            </p>
                            <p class="section10__item__p">Панель второго поколения класса А</p>
                            <p class="section10__item__p">основанный на пластине M10, это лучшее решение для
                                сверхбольших электростанций передовая модульная технология обеспечивает превосходную
                                эффективность модуля глобально подтвержденный двусторонний выход энергии высокое
                                качество модуля обеспечивает долгосрочную</p>
                            <p class="section10__item__p">Двойное терм-упрочненное стекло 2,0+2,0 мм</p>
                        </div>
                        <img class="section10__img" src="{% static '/images/background/section10/pexels-pixabay-236060 2.png' %}"
                            alt="">
                    </li>
                    <li class="section10__item">
                        <div class="section10__item__con">
                            <div class="section10__1">
                                <h1 class="section10__item__h1">3</h1>
                            </div>
                            <p class="section10__item__p">Двухсторонняя солнечная панель мощностью 535-550 Вт с КПД 21%
                            </p>
                            <p class="section10__item__p">Панель второго поколения класса А</p>
                            <p class="section10__item__p">основанный на пластине M10, это лучшее решение для
                                сверхбольших электростанций передовая модульная технология обеспечивает превосходную
                                эффективность модуля глобально подтвержденный двусторонний выход энергии высокое
                                качество модуля обеспечивает долгосрочную</p>
                            <p class="section10__item__p">Двойное терм-упрочненное стекло 2,0+2,0 мм</p>
                        </div>
                        <img class="section10__img" src="{% static '/images/background/section10/pexels-pixabay-236060 2.png' %}"
                            alt="">
                    </li>
                    <li class="section10__item">
                        <div class="section10__item__con">
                            <div class="section10__1">
                                <h1 class="section10__item__h1">4</h1>
                            </div>
                            <p class="section10__item__p">Двухсторонняя солнечная панель мощностью 535-550 Вт с КПД 21%
                            </p>
                            <p class="section10__item__p">Панель второго поколения класса А</p>
                            <p class="section10__item__p">основанный на пластине M10, это лучшее решение для
                                сверхбольших электростанций передовая модульная технология обеспечивает превосходную
                                эффективность модуля глобально подтвержденный двусторонний выход энергии высокое
                                качество модуля обеспечивает долгосрочную</p>
                            <p class="section10__item__p">Двойное терм-упрочненное стекло 2,0+2,0 мм</p>
                        </div>
                        <img class="section10__img" src="{% static '/images/background/section10/pexels-pixabay-236060 2.png' %}"
                            alt="">
                    </li>
                </ul>
            </section>
        </main>


{% endblock %}
