{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <section class="section6">
                <div class="section6__con">
                    <h1 class="section6__heading">Решение</h1>
                    <img class="section6__line" src="{% static '/images/icons/line.svg' %}" alt="">
                </div>
                <ul class="section6__list">
                    <li class="section6__item">
                        <div class="section6__con1">
                            <h1 class="section6__h1">СОЛНЕЧНЫЕ ЭЛЕКТРОСТАНЦИИ НА КРЫШЕ</h1>
                            <p class="section6__p">Solar Nature оказывает услуги генподряда по строительству солнечных
                                электростанций на поверхности различных сооружений в Узбекистане и по всему миру. Мы
                                выполняем проекты «под ключ», которые включают в себя консультирование, инициацию
                                проекта, проектирование и установку солнечных панелей на крышах предприятий, а также
                                онлайн-мониторинг и техническое обслуживание фотоэлектрической установки. С тех пор, как
                                мы начали работать над проектами всех размеров, от крошечных промышленных солнечных
                                электростанций до небольших коммерческих солнечных электростанций, мы накопили массу
                                опыта. Установкой солнечных панелей на крыше будет заниматься квалифицированный
                                персонал, имеющий более чем пятилетний опыт реализации значимых проектов.</p>
                        </div>
                        <img class="section6__img" src="{% static '/images/background/section6/unsplash_513dBrMJ_5w.png' %}" alt="">
                    </li>
                    <li class="section6__item">
                        <div class="section6__con1">
                            <h1 class="section6__h1">НАЗЕМНЫЕ ФОТОЭЛЕКТРИЧЕСКИЕ ЭЛЕКТРОСТАНЦИИ</h1>
                            <p class="section6__p">Solar Nature оказывает услуги генподряда по строительству солнечных
                                электростанций на поверхности различных сооружений в Узбекистане и по всему миру. Мы
                                выполняем проекты «под ключ», которые включают в себя консультирование, инициацию
                                проекта, проектирование и установку солнечных панелей на крышах предприятий, а также
                                онлайн-мониторинг и техническое обслуживание фотоэлектрической установки. С тех пор, как
                                мы начали работать над проектами всех размеров, от крошечных промышленных солнечных
                                электростанций до небольших коммерческих солнечных электростанций, мы накопили массу
                                опыта. Установкой солнечных панелей на крыше будет заниматься квалифицированный
                                персонал, имеющий более чем пятилетний опыт реализации значимых проектов.</p>
                        </div>
                        <img class="section6__img" src="{% static '/images/background/section6/pexels-pixabay-236060 3.png' %}" alt="">
                    </li>
                    <li class="section6__item">
                        <div class="section6__con1">
                            <h1 class="section6__h1">СОЛНЕЧНЫЕ ЭЛЕКТРОСТАНЦИИ ДЛЯ СЕЛЬСКОГО ХОЗЯЙСТВА</h1>
                            <p class="section6__p">Solar Nature оказывает услуги генподряда по строительству солнечных
                                электростанций на поверхности различных сооружений в Узбекистане и по всему миру. Мы
                                выполняем проекты «под ключ», которые включают в себя консультирование, инициацию
                                проекта, проектирование и установку солнечных панелей на крышах предприятий, а также
                                онлайн-мониторинг и техническое обслуживание фотоэлектрической установки. С тех пор, как
                                мы начали работать над проектами всех размеров, от крошечных промышленных солнечных
                                электростанций до небольших коммерческих солнечных электростанций, мы накопили массу
                                опыта. Установкой солнечных панелей на крыше будет заниматься квалифицированный
                                персонал, имеющий более чем пятилетний опыт реализации значимых проектов.</p>
                        </div>
                        <img class="section6__img" src="{% static '/images/background/section6/unsplash_513dBrMJ_5w.png' %}" alt="">
                    </li>
                    <li class="section6__item">
                        <div class="section6__con1">
                            <h1 class="section6__h1">СИСТЕМЫ ХРАНЕНИЯ СОЛНЕЧНОЙ ЭНЕРГИИ</h1>
                            <p class="section6__p">Solar Nature оказывает услуги генподряда по строительству солнечных
                                электростанций на поверхности различных сооружений в Узбекистане и по всему миру. Мы
                                выполняем проекты «под ключ», которые включают в себя консультирование, инициацию
                                проекта, проектирование и установку солнечных панелей на крышах предприятий, а также
                                онлайн-мониторинг и техническое обслуживание фотоэлектрической установки. С тех пор, как
                                мы начали работать над проектами всех размеров, от крошечных промышленных солнечных
                                электростанций до небольших коммерческих солнечных электростанций, мы накопили массу
                                опыта. Установкой солнечных панелей на крыше будет заниматься квалифицированный
                                персонал, имеющий более чем пятилетний опыт реализации значимых проектов.</p>
                        </div>
                        <img class="section6__img" src="{% static '/images/background/section6/pexels-pixabay-236060 3.png' %}" alt="">
                    </li>
                </ul>
            </section>
        </main>


{% endblock %}
