{% load static %}
        <footer class="footer">
            <div class="footer__up">
                <a class="footer__logo" href="pages/index.html"><img src="{% static '/images/icons/logofooter.svg' %}" alt=""></a>
                <ul class="footer__list">
                    <h2 class="footer__heading">На сайте</h2>
                    <li class="footer__item"><a class="footer__link" href="pages/aboutUs.html">О нас</a></li>
                    <li class="footer__item"><a class="footer__link" href="pages/solution.html">Решение</a></li>
                    <li class="footer__item"><a class="footer__link" href="pages/service.html">Сервисный центр</a></li>
                    <li class="footer__item"><a class="footer__link" href="pages/ourProjects.html">Наши работы</a></li>
                    <li class="footer__item"><a class="footer__link" href="pages/forInvestors.html">Для инвесторов</a></li>
                    <li class="footer__item"><a class="footer__link" href="pages/contacts.html">Контакты</a></li>
                </ul>
                <ul class="footer__list">
                    <h2 class="footer__heading">Наши продукции</h2>
                    <li class="footer__item"><a class="footer__link" href="#">Солнечные панели</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Солнечные инверторы</a></li>
                    <li class="footer__item"><a class="footer__link" href="#">Аккумляторная батарея</a></li>
                </ul>
                <ul class="footer__list">
                    <h2 class="footer__heading">Наши контакты</h2>
                    <li class="footer__item"><a class="footer__link" href="#">103445, г. Ташкент, ул. Ш.Арипар, 96А</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="#">+998-71-778-78-78 +998-71-788-87-78</a>
                    </li>
                    <li class="footer__item"><a class="footer__link" href="#">info@ies.uz</a></li>
                    <div class="footer__con">
                        <a href="#"><img class="footer__link1" src="{% static 'images/icons/instagram.svg' %}" alt=""></a>
                        <a href="#"><img class="footer__link1" src="{% static '/images/icons/telegram.svg' %}" alt=""></a>
                        <a href="#"><img class="footer__link1" src="{% static '/images/icons/facebook.svg' %}" alt=""></a>
                        <a href="#"><img class="footer__link1" src="{% static '/images/icons/watsup.svg' %}" alt=""></a>
                    </div>
                </ul>
            </div>
            <div class="footer__down">
                <h2 class="footer__down__h2">2023. Все права защищены Solar.uz</h2>
                <h2 class="footer__down__h2">Создание сайта Supersite</h2>
            </div>
        </footer>
